<mat-card>
  <mat-card-header>
    <mat-card-title>
      <span *ngIf="!question.id">New Question</span>
      <span *ngIf="question.id">Edit Question</span>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <mat-form-field class="full-width">
        <mat-label>Question</mat-label>
        <input name="question" [(ngModel)]="question.questionText" matInput placeholder="Question" />
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Correct Answer</mat-label>
        <input name="txtCorrectAnswer" [(ngModel)]="question.correctAnswer" matInput placeholder="Correct Answer" />
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Wrong Answer 1</mat-label>
        <input name="txtWrongAnswer1" [(ngModel)]="question.wrongAnswer1" matInput placeholder="Wrong Answer 1" />
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Wrong Answer 2</mat-label>
        <input name="txtWrongAnswer2" [(ngModel)]="question.wrongAnswer2" matInput placeholder="Wrong Answer 2" />
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Wrong Answer 3</mat-label>
        <input name="txtWrongAnswer3" [(ngModel)]="question.wrongAnswer3" matInput placeholder="Wrong Answer 3" />
      </mat-form-field>

    </form>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="putQuestion(question)" mat-button *ngIf="question.id">SAVE</button>
    <button (click)="clearQuestion()" mat-button *ngIf="question.id">NEW</button>
    <button (click)="postQuestion(question)" mat-button *ngIf="!question.id">POST</button>
  </mat-card-actions>
</mat-card>
