<mat-card>
  <mat-card-header>
    <mat-card-title>
      <span *ngIf="!quiz.id">New Quiz</span>
      <span *ngIf="quiz.id">Edit Quiz</span>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <mat-form-field class="full-width">
        <mat-label>Quiz</mat-label>
        <input name="title" [(ngModel)]="quiz.title" matInput placeholder="Quiz Title" />
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="putQuiz(quiz)" mat-button *ngIf="quiz.id">SAVE</button>
    <button (click)="clearQuiz()" mat-button *ngIf="quiz.id">NEW</button>
    <button [routerLink]="['/questions', quiz.id]" mat-button *ngIf="quiz.id">EDIT QUESTIONS</button>
    <button (click)="postQuiz(quiz)" mat-button *ngIf="!quiz.id">POST</button>
  </mat-card-actions>
</mat-card>
